<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="remotion.data.domainObjects" type="Remotion.Data.DomainObjects.Configuration.DomainObjectsConfiguration, Remotion.Data.DomainObjects">
      <section name="storage" type="Remotion.Data.DomainObjects.Persistence.Configuration.StorageConfiguration, Remotion.Data.DomainObjects" />
    </sectionGroup>
  </configSections>

  <remotion.data.domainObjects xmlns="http://www.re-motion.com/Data/DomainObjects/Configuration/2.0">
    <storage defaultProviderDefinition="PhoneBookDB">
      <providerDefinitions>
        <add name="PhoneBookDB"
					type="Remotion.Data.DomainObjects::Persistence.Rdbms.RdbmsProviderDefinition"
					providerType="Remotion.Data.DomainObjects::Persistence.Rdbms.SqlProvider"
					connectionString="PhoneBook"
             factoryType="Remotion.Data.DomainObjects::Persistence.Rdbms.SqlServer.Sql2005.SqlStorageObjectFactory"
             />
      </providerDefinitions>
    </storage>

  </remotion.data.domainObjects>

  <connectionStrings>
    <add name="PhoneBook" connectionString="Integrated Security=SSPI; Initial Catalog=PhoneBook; Data Source=localhost" />
  </connectionStrings>
</configuration>